body {
  font-family: "Montserrat", sans-serif;
}
li {
  color: #fff;
}

.bio-title {
  font-size: 45px;
  line-height: 2;
  margin-bottom: 20px;
}

.bio-occupation {
  margin-bottom: 10px;
  font-weight: 700;
}
.bio-title,
.bio-occupation {
  color: #2a2a2a;
}

.bio-occupation,
.bio-about {
  font-size: 14px;
  line-height: 1.714;
}

.bio-about {
  color: #595959;
  margin-bottom: 10px;
}
.projects-title {
  font-size: 22px;
  line-height: 1.091;
  color: #2a2a2a;
  margin-bottom: 14px;
}

.projects-link {
  font-size: 14px;
  line-height: 1.714;
  color: #220fdc;
}
.contacts-link {
  color: #595959;
  text-decoration: none;
}
.contacts-link:hover {
  color: #ff6b08;
}

.projects-title {
  margin-bottom: 14px;
  color: #2a2a2a;
  font-size: 22px;
  line-height: 1.091;
}

.projects-link {
  color: #220fdc;
  font-size: 14px;
  line-height: 1.714;
}
.projects-link:hover {
  color: #ff6b08;
}
.jobs-title {
  color: #2a2a2a;
  font-size: 22px;
  line-height: 1.091;
  margin-bottom: 26px;
}

.jobs-occupation {
  color: #2a2a2a;
  font-size: 16px;
  line-height: 0.9em;
  margin-bottom: 16px;
}

.jobs-time {
  color: #828282;
  font-size: 12px;
  line-height: 2;
  margin-bottom: 18px;
}

.experience-item {
  color: #2a2a2a;
  font-size: 14px;
  line-height: 0.9em;
  margin-bottom: 10px;
}
.accent {
  color: #ff6b08;
}
.experience {
  margin-bottom: 28px;
}
.education-title {
  font-size: 22px;
  color: #2a2a2a;
  line-height: 1.091;
  margin-bottom: 26px;
}

.education-degree {
  font-size: 16px;
  color: #2a2a2a;
  line-height: 1.5;
  margin-bottom: 16px;
}

.education-time {
  font-size: 12px;
  color: #828282;
  line-height: 2;
  margin-bottom: 18px;
}

.accent {
  color: #ff6b08;
}
.bio,
.projects,
.jobs,
.education {
  margin-bottom: 60px;
}
.right-side {
  padding-left: 36px;
  padding-right: 200px;
  padding-top: 68;
  padding-bottom: 68px;
  margin-bottom: 10px;
}
.projects-link {
  color: #220fdc;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  letter-spacing: 0.42px;
}
.projects-link:hover {
  color: #ff6b08;
}
.jobs-title {
  color: #2a2a2a;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}
.jobs-occupation {
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.jobs-time {
  color: #828282;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
}
.education-title {
  line-height: 24px;
  color: #2a2a2a;
  font-size: 22px;
  font-weight: 700;
}
.accent {
  color: #ff6b08;
}
.projects-list {
  padding-left: 16px;
}
.experience {
  padding-left: 16px;
}
.specialty {
  color: #2a2a2a;
}
.courses {
  color: #2a2a2a;
  font-size: 14px;
  line-height: 0.9em;
  margin-bottom: 10px;
}
.left-side {
  width: 370px;
  min-height: 370px;
  background-color: #611441;
  color: #fff;
}
.photo {
  width: 370px;
}
.contacts-title {
  font-size: 16px;
  line-height: 1.091;
  color: #fff;
}
.contacts-item {
  font-size: 14px;
  line-height: 1.714;
  color: #fff;
  font-weight: 24px;
}
.contacts-link {
  color: #fff;
  opacity: 0.6;
}
.contacts-link:hover {
  opacity: 1;
  text-decoration: underline;
}
.skills-title {
  font-size: 16px;
  line-height: 1.091;
}
.skills-item {
  font-size: 14px;
  line-height: 1.714;
}

.skills-list {
  list-style: none;
  padding-left: 0;
}

.skills-item::before {
  content: "\2022";
  color: #ff6b08;
  margin-right: 8px;
  font-size: 18px;
}
.photo,
.contacts,
.skills {
  margin-bottom: 60px;
}
.contacts,
.skills {
  padding-left: 40px;
}

.container {
  width: 1200px;
  display: flex;
  box-shadow: 5px, 9px, 20px, rgba(0, 0, 0, 0.15);
}

.right-side {
  padding-left: 80px;
  padding-right: 200px;
  padding-top: 68px;
  padding-bottom: 68px;
  width: 830px;
}

.contacts,
.skills {
  padding-left: 40px;
}
.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.left-side {
  width: 370px;
  background-color: #1e2939;
  color: #fff;
}

.contacts,
.skills {
  padding-left: 40px;
}
.tech {
  font-size: 16px;
  line-height: 1.091;
  color: #fff;
}
.team {
  font-size: 16px;
  line-height: 1.091;
  color: #fff;
}
.languages {
  font-size: 16px;
  line-height: 1.091;
  color: #fff;
}
.one {
  font-size: 14px;
}
.all {
  border: 1px solid #f5f7fa;
  padding: 50px;
  border-width: 40px;
}
.two {
  color: #fff;
  text-decoration: none;
}
.two:hover {
  opacity: 1;
  text-decoration: underline;
}
.contacts-list {
  list-style: none;
  padding-left: 0;
}
.left-side {
  width: 370px;
  min-height: 370px;
  background-color: #1e2939;
  color: #fff;
}

.skills {
  margin-bottom: 52px;
}

.widget-link {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  background-color: #ff6b08;
  box-shadow: 0px 8px 43px 0px rgba(255, 107, 8, 0.588);
}
.widget-link:hover {
  box-shadow: 0px 8px 23px 0px #ff6b0896;
}
.widget-link:active {
  box-shadow: inset 0px 2px 5px 0px #ff6b0896;
}
.photo,
.contacts,
.skills,
.widget {
  margin-bottom: 60px;
}

.contacts,
.skills,
.widget {
  padding-left: 40px;
}
.photo:hover {
  animation: swing 1s;
}
.widget:hover {
  animation: heartBeat 1s;
}
.widget-link {
  box-shadow: 0px 0px 13px 1px rgba(255, 107, 8, 1);
}
.widget-link:hover {
  box-shadow: 0px 0px 34px 12px rgba(255, 107, 8, 1);
}
.photo:hover {
  animation: hearBeat 1s;
}
.widget:hover {
  animation: headShake 1s;
}
